.eda-widgets-div {
    width: 20%;
    height: 140px; 
    padding: 10px; 
    border-radius:3px; 
    background-color:#15202B; 
    position: relative; 
    border-bottom:5px solid #F09999;
}

.eda-help-panel-div {
    margin: 0 auto;
    width: 45%;
    height: 150px; 
    padding: 25px; 
    border-radius:3px;
    background-color: #FFF4A3;
    position: relative;
}